.webmap {
    height: 100vh;
}
body{
  margin: 0px;
  padding: 0px;
}
#elevationDiv {
  position: absolute;
  bottom: 28px;
  right: 15px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}